<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
</head>
<body>
    <div class="telaLogin">
        <div class="imagemLogin">
            <img src="..\assets\images\Estoque-login.png" alt="estoque">
        </div>
        <div class="login">
            <div class="cardLogin">
                <h1>Cadastro</h1>
                <div class="textfield">
                    <label for="usuario">Usuário</label>
                    <input type="text" name="usuario" placeholder="Nome usuário">
                </div>
                <div class="textfield">
                  <label for="email">Email</label>
                  <input type="password" name="email" placeholder="Email usuário">
                </div>
                <div class="textfield">
                    <label for="senha">Senha</label>
                    <input type="password" name="senha" placeholder="Senha usuário">
                </div>
                <button class="btn-login">Cadastrar</button>
                <a href="">Login</a>
            </div>
        </div>
    </div>
</body>
</html>
