<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Produto</title>
</head>

<div class="cont">
    <app-navbar-estoque></app-navbar-estoque>
    <body class="tela">

        <div class="toolbar">
            <span>Produto</span>
        </div>

        <div class="container">
            <div class="row">
                <div class="col">
                    <label class="label-col-left">Id produto</label>
                    <input>
                </div>
                <div class="col">
                    <label class="label-col-right">Lote</label>
                    <input>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <label class="label-col">Descrição</label>
                    <input class="input-desc">
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <label class="label-col-left">Quantidade</label>
                    <input>
                </div>
                <div class="col">
                    <label class="label-col-right">Valor un.</label>
                    <input>
                </div>
            </div>

        </div>

        <div class="btn-side">
            <button class="btn">Cadastrar</button>
            <button class="btn">Cancelar</button>
        </div>

        <footer></footer>
    </body>
</div>
</html>
