<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Produto</title>
</head>

<div class="cont">
    <app-navbar-estoque></app-navbar-estoque>
    <body class="tela">

        <div class="toolbar">
            <span>Fornecedor</span>
        </div>

        <div class="container">
            <div class="row">
                <div class="col">
                    <label class="label-col-left">Nome</label>
                    <input>
                </div>
                <div class="col">
                    <label class="label-col-right">Logradouro</label>
                    <input>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <label class="label-col-left">Email</label>
                    <input>
                </div>
                <div class="col">
                    <label class="label-col-right">CEP</label>
                    <input>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <label class="label-col-left">CNPJ</label>
                    <input>
                </div>
                <div class="col">
                    <label class="label-col-right">UF</label>
                    <input>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <label class="label-col-left">Telefone</label>
                    <input>
                </div>
                <div class="col">
                    <label class="label-col-right">Cidade</label>
                    <input>
                </div>
            </div>

        </div>

        <div class="btn-side">
            <button class="btn">Editar</button>
            <button class="btn">Salvar</button>
            <button class="btn">Cancelar</button>
        </div>

        <footer></footer>
    </body>
</div>
</html>
