<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Usuário</title>
</head>

<div class="cont">
    <app-navbar-estoque></app-navbar-estoque>
    <body class="tela">

        <div class="toolbar">
            <span>Usuário</span>
        </div>

        <div class="container">
                <div class="">
                    <label class="label-col">Nome</label>
                    <input>
                </div>
                <div>
                    <label class="label-col">Email</label>
                    <input>
                </div>
                <div>
                    <label class="label-col">Telefone</label>
                    <input>
                </div>
                <div>
                    <label class="label-col">Senha</label>
                    <input>
                </div>
        </div>

        <div class="btn-side">
            <button class="btn">Editar</button>
            <button class="btn">Salvar</button>
            <button class="btn">Cancelar</button>
        </div>

        <footer></footer>
    </body>
</div>
</html>
